# Data Structure (โครงสร้างข้อมูล)

Data structures can be divided into two categories in computer science: primitive and non-primitive data structures.

1. **Primitive Data Structures**
The primitive data types are the basic data types that are available in most of the programming languages

    * Integers
    * Float
    * Strings
    * Boolean
    
    
2. **Non-Primitive Data Structures** The data types that are derived from primary

    * Arrays
    * Lists
    * Tuples
    * Dictionary
    * Sets
    * Files

## 1. Integers

In [1]:
x = 3
y = 4

In [2]:
print(x + y)

7

In [3]:
print(x - y)

-1

In [4]:
print(x * y)

12

In [5]:
print(x / y)

0.75

In [6]:
print(x % y)

3

In [7]:
print(abs(x))

3

In [8]:
print(x ** y)

81

In [9]:
x ** y

81

In [12]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

## 2. Floats

In [13]:
x = 4.0
y = 2.0

In [14]:
x + y

6.0

In [15]:
x - y

2.0

In [16]:
x * y

8.0

In [17]:
x / y

2.0

In [18]:
x % y

0.0

In [24]:
a = -1

In [25]:
abs(a)

1

In [26]:
x ** y

16.0

In [27]:
type(x ** y)

float

## 3. Boolean

In [28]:
x = True
y = False

* AND = และ
* OR = หรือ

In [29]:
x & y

False

In [30]:
x | y

True

In [32]:
x && y

SyntaxError: invalid syntax (<ipython-input-32-9c4ff3e59297>, line 1)

In [33]:
x and y

False

In [34]:
x or y

True

In [35]:
x = true

NameError: name 'true' is not defined

In [36]:
a = 4
b = 2

In [37]:
a == b

False

In [38]:
a > b

True

## 4. String

In [148]:
quote = 'mils'

In [149]:
quote = 'Hello world!'
print(quote.count("l"))

3

In [150]:
quote = 'Hello world!'
print(quote.upper())
print(quote.lower())

HELLO WORLD!
hello world!

In [151]:
quote = 'Hello world!'
print(quote.startswith('Hello'))
print(quote.endswith('asdfasdfasdf'))

True
False

### Question: Double quote("") or single quote ('') ?

In [153]:
name = 'Hello, my name's mils'
name

SyntaxError: invalid syntax (<ipython-input-153-c1c0a993593b>, line 1)

In [154]:
name = "Hello, my name's mils"
name

"Hello, my name's mils"

## 4.1 Concatenate

In [48]:
x = 3
y = 4
x + y

7

In [49]:
x = '3'
y = '4'
x + y

'34'

### Old School

### Question: ถ้าเราอยากได้คำว่า  'Hello World' โดยมี x= "Hello" และ y ="World"

In [50]:
x = 'Hello'
y = 'World'
x + ' ' + y

'Hello World'

In [53]:
quote = 'Life was like a box of chocolates'
'My mama always said, %s. You never know what you’re gonna get.' % (quote)

'My mama always said, Life was like a box of chocolates. You never know what you’re gonna get.'

In [54]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [55]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [57]:
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

* %s = String
* %d = decimal value

### Format

In [58]:
your_name = 'Mils'
'Hello {name}. Nice to meet you'.format(name=your_name)

'Hello Mils. Nice to meet you'

### F String in Python 3.6+

In [59]:
your_name = 'Mils'
f'Hello {your_name}. Nice to meet you'

'Hello Mils. Nice to meet you'

### Recommend = F string

In [60]:
name = 'shrimp-kabobs'
bubba_quote = 'Anyway, like I was sayin’, shrimp is the fruit of the sea. You can barbecue it,' + \
    'boil it, broil it, bake it, saute it. There’s {name}, shrimp creole, shrimp gumbo.' + \
    'Pan fried, deep fried, stir-fried. There’s pineapple shrimp, lemon shrimp, coconut shrimp, ' + \
    'pepper shrimp, shrimp soup, shrimp stew, shrimp salad, shrimp and potatoes, shrimp burger, ' + \
    'shrimp sandwich. That, that’s about it'
bubba_quote.format(name=name)

'Anyway, like I was sayin’, shrimp is the fruit of the sea. You can barbecue it,boil it, broil it, bake it, saute it. There’s shrimp-kabobs, shrimp creole, shrimp gumbo.Pan fried, deep fried, stir-fried. There’s pineapple shrimp, lemon shrimp, coconut shrimp, pepper shrimp, shrimp soup, shrimp stew, shrimp salad, shrimp and potatoes, shrimp burger, shrimp sandwich. That, that’s about it'

In [61]:
bubba_quote = 'Anyway, like I was sayin’, shrimp is the fruit of the sea. You can barbecue it,' + \
    'boil it, broil it, bake it, saute it. There’s {0}, {1}, {2}.' + \
    'Pan fried, deep fried, stir-fried. There’s {3}, {4}, {5}, ' + \
    '{6}, {7}, {8}, {9}, {10}, {11}, ' + \
    '{12}. That, that’s about it'
bubba_quote.format('shrimp-kabobs', 'shrimp creole', 'shrimp gumbo', 'pineapple shrimp','lemon shrimp','coconut shrimp','pepper shrimp','shrimp soup','shrimp stew','shrimp salad','shrimp and potatoes','shrimp burger','shrimp sandwich')

'Anyway, like I was sayin’, shrimp is the fruit of the sea. You can barbecue it,boil it, broil it, bake it, saute it. There’s shrimp-kabobs, shrimp creole, shrimp gumbo.Pan fried, deep fried, stir-fried. There’s pineapple shrimp, lemon shrimp, coconut shrimp, pepper shrimp, shrimp soup, shrimp stew, shrimp salad, shrimp and potatoes, shrimp burger, shrimp sandwich. That, that’s about it'

In [62]:
len(bubba_quote)

256

In [74]:
greet = f'Hello Mils'
len(greet)

10

In [75]:
greet.isdigit()

False

In [76]:
status_code = '404'

In [77]:
status_code.isdigit()

True

In [78]:
number = len(greet)
greet.isdigit(number)

TypeError: isdigit() takes no arguments (1 given)

### Exercise

Modify the input_string to and use the following data to make the result string as "There's a beauty in it and also a danger. Fear will be your enemy"

จงแก้ไขตัวแปล input_string โดยใช้ตัวแปร word1, word2, word3 และ word 4 ที่กำหนดให้เพื่อให้ได้คำว่า "There's a beauty in it and also a danger. Fear will be your enemy"

In [87]:
word1 = 'beauty'
word2 = 'danger'
word3 = 'Fear'
word4 = 'enemy'
input_string = ""

## 4.2 Slice

```
+---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```
```
a[start:stop]  # items start through stop-1
a[start:]      # items start through the rest of the array
a[:stop]       # items from the beginning through stop-1
a[:]           # a copy of the whole array
```

In [90]:
quote = "Hello world!"
print(quote[3:7])

lo w

In [91]:
print(quote[3:])

lo world!

In [92]:
print(quote[:7])

Hello w

In [93]:
print(quote[-2:])

d!

# Non-Primitive data structure

* Arrays
* Lists
* Tuples
* Dictionary
* Files

## 1. Arrays

Python does not have built-in support for Arrays, but Python Lists can be used instead.
However, arrays are not all that popular in Python, unlike the other programming languages such as C++ or Java.

In general, when people talk of arrays in Python, they are actually referring to **lists**.
more info: https://docs.python.org/3.7/library/array.html

In [94]:
import array as arr

In [96]:
a = arr.array("I", [3,6,9])
type(a)

array.array

## 2. Lists

In [98]:
x1 = [1,2,3]
type(x1)

list

In [99]:
characters = [
    'Anna',
    'Elsa',
    'Olaf',
    'Kristoff',
    'Sven'
]

In [100]:
characters

['Anna', 'Elsa', 'Olaf', 'Kristoff', 'Sven']

In [101]:
characters[2]

'Olaf'

In [102]:
characters.append('Bruni')

In [103]:
characters

['Anna', 'Elsa', 'Olaf', 'Kristoff', 'Sven', 'Bruni']

In [104]:
characters.insert(0, 'Hans')

In [105]:
characters

['Hans', 'Anna', 'Elsa', 'Olaf', 'Kristoff', 'Sven', 'Bruni']

## 3. Tuples

In [107]:
my_tuple = ()
print(my_tuple)

()

In [108]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

## 4. Dict

In [111]:
toy_story_char = {'Woody': 1, 'Buzz Lightyear': 2, 'Mr. Potato Head': 3, 'Rex': 4}
toy_story_char

{'Woody': 1, 'Buzz Lightyear': 2, 'Mr. Potato Head': 3, 'Rex': 4}

In [112]:
toy_story_char['Buzz Lightyear']

2

In [113]:
toy_story_char.keys()

dict_keys(['Woody', 'Buzz Lightyear', 'Mr. Potato Head', 'Rex'])

In [114]:
toy_story_char.values()

dict_values([1, 2, 3, 4])

In [117]:
for each in toy_story_char.keys():
    print(each)

Woody
Buzz Lightyear
Mr. Potato Head
Rex

## 5. Files

File modes: 

- 'r'(read)
- 'w'(write)
- 'a'(appending)
- 'r+'(both reading and writing)

In [134]:
f = open('data/write_string.txt', 'r')

In [135]:
# Reads entire file
f.read()

'Hello World !Add this line.Add this line.'

In [136]:
f.write('Add this line.')

UnsupportedOperation: not writable

In [143]:
f = open('data/write_string.txt', 'w')

In [144]:
f.write('Add this line.')

14

Mode:
* r+ opens for reading and writing (no truncating, file pointer at the beginning)
* w+ opens for writing (and thus truncates the file) and reading
* a+ opens for appending (writing without truncating, only at the end of the file, and the file pointer is at the end of the file) and reading

f.write(string) writes the contents of string to the file, returning the number of characters written.

In [145]:
f = open('data/write_string.txt', 'r')

In [146]:
f.read()

'Add this line.'

In [142]:
f.read()

''

If the end of the file has been reached, f.read() will return an empty string ('').